assets/*
!assets/.gitkeep
data/contents/**
data/assets/**
data/meta/**
data/logs/**
!data/**/.gitkeep
Cookies.json
.venv/
__pycache__/
*.pyc
.DS_Store
*.sqlite
*.tmp
*.egg-info/
.ruff_cache/
dist/
build/
